<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
  <appSettings>
    <add key="conexao" value="Server=127.0.0.1;Database=GestaoBarMan;port=3305;UID=root;Password=B4rM4n"/>      
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>